<div class="login">
    <div class="login_header">
        <span>Вход</span>
    </div>
    <div class="login_content">
        <form>
            {{#each controls}}
                {{{this}}}
            {{/each}}
        </form>
    </div>
    <div class="login_footer">
        {{{btn}}}
        {{{link}}}
    </div>
</div>