<div class="login">
    <div class="login-header text-large">
        <span>Вход</span>
    </div>
    <div class="login-content">
        <form>
            {{#each controls}}
                {{{this}}}
            {{/each}}
        </form>
    </div>
    <div class="login-footer">
        {{{btn}}}
        {{{link}}}
    </div>
</div>
