@import "src/styles/colors";

.form-item {
    width: 100%;
    margin-bottom: 40px;

    &-label {
        color: $color-gray-dark;
    }

    &-control {
        width: 100%;
        margin: 8px 0;
        input {
            border-bottom: 1px solid $color-blue;
        }
    }
}
