<div class="chat">
    <div class="chat-header">
        <div class="chat-header-avatar"></div>
        <div class="chat-header-title bold">{{title}}</div>
        <div class="chat-header-actions"></div>
    </div>
    <div class="chat-content">
        {{#each messages}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="chat-footer">
        <div class="chat-footer-attach">
            <button class="icon-btn"></button>
        </div>
        <div class="chat-footer-input">
            <input name="message" placeholder="Сообщение" />
        </div>
        <div class="chat-footer-button">
            <button class="icon-btn"></button>
        </div>
    </div>
</div>
