<div class="error">
    <div class="error-info">
        <div class="error-info-code text-giant">{{code}}</div>
        <div class="error-info-text text-large">{{text}}</div>
    </div>
    {{{link}}}
</div>
