<div class="profile">
    <div class="profile-header">
        <div class="profile-header-avatar"></div>
        <div class="profile-header-name text-large bold">{{display_name}}</div>
    </div>
    <div class="profile-content">
        {{{form}}}
    </div>
    <div class="profile-actions">
        {{#each actions}}
            <div class="profile-actions-item">
                {{{this}}}
            </div>
        {{/each}}
    </div>
</div>
