<div class="profile">
    <div class="profile-header column">
        <div class="profile-header-avatar"></div>
        <h2>{{display_name}}</h2>
    </div>
    <div class="profile-content">
        {{{form}}}
    </div>
    <div class="profile-actions">
        {{#each actions}}
            <div class="profile-actions-item">
                {{{this}}}
            </div>
        {{/each}}
    </div>
</div>
