@import "src/styles/colors";
@import "src/styles/mixins";

.profile {
  align-items: center;
  width: 510px;
  margin: 0 auto;

  &-header {
    align-items: center;
    margin-top: 60px;

    &-avatar {
      @include circle(130px, $color-gray-middle);

      background-image: url("../../assets/icons/image.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &-name {
      margin-top: 20px;
    }
  }

  &-content,
  &-actions {
    margin-top: 60px;
  }

  &-actions-item {
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-middle;
    }
  }
}
