$color-white: #fff;
$color-black: #1e1e1e;
$color-blue: #3369f3;
$color-blue-light: #e4edfd;
$color-gray-light: #fbfbfb;
$color-gray-middle: #efefef;
$color-gray-dark: #999;
$color-red: #f00;
$color-overlay: hsl(0deg 0% 60% / 80%);
