$color-white: #FFFFFF;
$color-black: #1E1E1E;
$color-blue: #3369F3;
$color-blue-light: #E4EDFD;
$color-gray-light: #FBFBFB;
$color-gray-middle: #EFEFEF;
$color-gray-dark: #999999;
$color-red: #FF0000;