@import "normalize.css";
@import "./colors";
@import "./fonts";
@import "./mixins";

body {
  font-family: Inter, sans-serif;
  font-size: $font-base;
  color: $color-black;

  button {
    border: 0;
    outline: none;
    font-size: $font-base;
    cursor: pointer;

    &.icon-btn {
      @include circle(32px, transparent);
    }
  }

  input {
    font-family: Inter, sans-serif;
    font-size: $font-base;
    width: 100%;
    border: 0;
    outline: none;

    &:disabled {
      background-color: transparent;
      color: inherit;
    }
  }

  h4 {
    margin: 4px 0;
  }

  p {
    margin: 0;
  }

  form {
    margin: 0;
  }

  menu {
    margin: 0;
    padding: 0;
  }

  .column {
    display: flex;
    flex-flow: column nowrap;
  }
}
