<div class="chat-list-item">
    <div class="chat-list-item-avatar">
    </div>
    <div class="chat-list-item-info-message">
        <div class="name bold">{{title}}</div>
        <div class="text">{{last_message.content}}</div>
    </div>
    <div class="chat-list-item-info-time">
        <div class="time text-small">{{formattedTime}}</div>
        <div class="count-container">
            <div class="count">{{{unread_count}}}</div>
        </div>
    </div>
</div>
