<div class="chat-list-item">
  <div class="chat-list-item-avatar">
  </div>
  <div class="chat-list-item-info-message column">
    <h4>{{title}}</h4>
    <p class="text">{{lastMessage.content}}</p>
  </div>
  <div class="chat-list-item-info-time column">
    <small class="time">{{formattedTime}}</small>
    <div class="count-container">
      <div class="count">{{{unreadCount}}}</div>
    </div>
  </div>
</div>