<div class="chat-list-item">
    <div class="chat-list-item-avatar">
    </div>
    <div class="chat-list-item-info-message column">
        <h4>{{title}}</h4>
        <p class="text">{{last_message.content}}</p>
    </div>
    <div class="chat-list-item-info-time column">
        <small class="time">{{formattedTime}}</small>
        <div class="count-container">
            <div class="count">{{{unread_count}}}</div>
        </div>
    </div>
</div>
