<div class="chat-list-item">
    <div class="chat-list-item_avatar">
    </div>
    <div class="chat-list-item_info-message">
        <div class="name">{{title}}</div>
        <div class="text">{{last_message.content}}</div>
    </div>
    <div class="chat-list-item_info-time">
        <div class="time">{{last_message.time}}</div>
        <div class="count-container">
            <div class="count">{{{unread_count}}}</div>
        </div>
    </div>
</div>