.container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    position: relative;

    .nav-link {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}
