@import "src/styles/colors";

.upload {
  label {
    color: $color-blue;
    cursor: pointer;
    text-decoration-line: underline;
  }

  &.has-value {
    label {
      color: $color-gray-dark;
      text-decoration-line: none;
    }
  }
}
