<div class="signin">
    <div class="signin_header">
        <span>Регистрация</span>
    </div>
    <div class="signin_content">
        <form>
            {{#each controls}}
                {{{this}}}
            {{/each}}
        </form>
    </div>
    <div class="signin_footer">
        {{{btn}}}
        {{{link}}}
    </div>
</div>