<div class="signin">
    <div class="signin-header text-large">
        <span>Регистрация</span>
    </div>
    <div class="signin-content">
        <form>
            {{#each controls}}
                {{{this}}}
            {{/each}}
        </form>
    </div>
    <div class="signin-footer">
        {{{btn}}}
        {{{link}}}
    </div>
</div>
