@import "src/styles/colors";

.chats {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $color-gray-light;

  &-navigation {
    flex: 1 310px;
    border-right: 1px solid $color-gray-dark;

    &-profile {
      display: flex;
      justify-content: flex-end;
      padding: 20px 10px;
    }

    &-search {
      height: 32px;
      padding: 0 10px 20px;
    }
  }

  &-actions {
    display: flex;

    > :first-child {
      flex-grow: 1;
    }

    .icon-btn {
      background-image: url("../../assets/icons/add.svg");
      background-color: $color-blue;
      margin-right: 10px;
    }
  }

  &-chat,
  &-empty-chat {
    flex: 4;
    justify-content: space-around;
    height: 100%;
  }

  &-empty-chat {
    display: flex;
    align-items: center;
    color: $color-gray-dark;
  }
}
