@import "src/styles/colors";

.form-item {
  margin-bottom: 40px;

  &-label {
    color: $color-gray-dark;
  }

  &-control {
    width: 100%;
    margin: 8px 0;

    input {
      border-bottom: 1px solid $color-blue;
    }

    input[type="file"] {
      display: none;
    }

    .upload {
      &-value {
        color: $color-gray-dark;
        text-decoration-line: none;
      }

      &-label {
        color: $color-blue;
        cursor: pointer;
        text-decoration-line: underline;
      }
    }
  }

  &.single {
    margin-bottom: 0;

    .form-item-control {
      margin: 0;

      input {
        height: 100%;
        background-color: $color-gray-middle;
        border-radius: 8px;
        border: 0;
        padding-left: 10px;
        color: $color-gray-dark;
      }
    }
  }

  &.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-item-label {
      flex: 1;
    }

    .form-item-control {
      flex: 1;
    }
  }
}
