@import "src/styles/colors";
@import "src/styles/mixins";

.avatar {
  @include circle(130px, $color-gray-middle);

  cursor: pointer;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .overlay {
    display: none;
  }

  &:hover {
    .overlay {
      @include circle(130px, $color-gray-dark);

      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      inset: 0;
      opacity: 0.8;
      color: $color-white;
    }
  }
}

.without-avatar {
  .avatar {
    background-image: url("../../assets/icons/image.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
