<div class="message {{#if isCurrent}}current{{/if}}">
    <div class="message-user bold">
        {{name}}
    </div>
    <div class="message-text">
        {{content}}
    </div>
    <div class="message-time text-small">
        {{time}}
    </div>
</div>
