<div class="message {{#if isCurrent}}current{{/if}}">
    <div class="message-user">
        {{name}}
    </div>
    <div class="message-text">
        {{content}}
    </div>
    <div class="message-time">
        {{time}}
    </div>
</div>