<div class="message column {{#if isCurrent}}current{{/if}}">
    <h4>{{name}}</h4>
    <div class="message-text">
        {{content}}
    </div>
    <div class="message-time text-small">
        {{time}}
    </div>
</div>
